body{
   
   
    
    background-position: center;
    font-family: sans-serif;
    overflow: scroll;
  background-image: url("../images/front end desktop.jpg");
    background-color: white;
    background-position: center;
    background-attachment: fixed;

}

.thumbnail1{
    width: 370px;
    height: 420px;
    background: #0009;
    color: black;
    top: 60%;
    left: 15%;
    margin-left: 0%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    transition: 0.8s;
    border:none;
    border-radius: 10%;
    background-color: #f9b401;
      font-weight: bolder;
}

.icon{
    width: 100px;
    height: 100px;
    border-radius: 30%;
    position: absolute;
    top: 30px;
    left: calc(50% - 50px);
    border:solid white;
    transition: 0.8s;
}
.thumbnail2{
    width: 370px;
    height: 420px;
    background: #0009;
    color: black;
    top: 60%;
    left: 50%;
    margin-left: 0%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    transition: 0.8s;
    border:none;
    border-radius: 10%;
    background-color: #f9b401;
      font-weight: bolder;
}
.thumbnail3{
    width: 370px;
    height: 420px;
    background: #0009;
    color: black;
    top: 60%;
    left: 85%;
    margin-left: 0%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    transition: 0.8s;
    border:none;
    border-radius: 10%;
    background-color: #f9b401;
      font-weight: bolder;
}
.thumbnail4{
    width: 370px;
    height: 420px;
    background: #0009;
    color: black;
    top: 140%;
    left: 15%;
    margin-left: 0%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    transition: 0.8s;
    border:none;
    border-radius: 10%;
    background-color: #f9b401;
     font-weight: bolder;
}
.thumbnail5{
    width: 370px;
    height: 420px;
    background: #0009;
    color: black;
    top: 140%;
    left: 50%;
    margin-left: 0%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    transition: 0.8s;
    border:none;
    border-radius: 10%;
    background-color: #f9b401;
     font-weight: bolder;
}
.thumbnail6{
    width: 370px;
    height: 420px;
    background: #0009;
    color: black;
    top: 140%;
    left: 85%;
    margin-left: 0%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    transition: 0.8s;
    border:none;
    border-radius: 10%;
    background-color: #f9b401;
    font-weight: bolder;
}
.thumbnail7{
    width: 370px;
    height: 420px;
    background: #0009;
    color: black;
    top: 240%;
    left: 15%;
    margin-left: 0%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    transition: 0.8s;
    border:none;
    border-radius: 10%;
    background-color: #f9b401;
     font-weight: bolder;
     }
     .thumbnail8{
    width: 370px;
    height: 420px;
    background: #0009;
    color: black;
    top: 240%;
    left: 50%;
    margin-left: 0%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    transition: 0.8s;
    border:none;
    border-radius: 10%;
    background-color: #f9b401;
     font-weight: bolder;
 }
 .thumbnail9{
    width: 370px;
    height: 420px;
    background: #0009;
    color: black;
    top: 240%;
    left: 85%;
    margin-left: 0%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    transition: 0.8s;
    border:none;
    border-radius: 10%;
    background-color: #f9b401;
     font-weight: bolder;
 }
/*hover property for the image in thumbnails(rotate() and scale())*/

.icon:hover
{
    transform:rotate(360deg)  scale(1.5);

}
/*thumbnail boxes input */

.thumbnail1 input[type="submit"]
{
    height: 30px;
    border-radius: 10px;
    position: absolute;
  top:85%;
  left: 65%;
   background: #f9b401;
   color: black;
   border:none;
   font-weight: 900;
}
.thumbnail2 input[type="submit"]
{
    height: 30px;
    border-radius: 10px;
    position: absolute;
  top:85%;
  left: 65%;
   background: #f9b401;
   color: black;
   border:none;
   font-weight: 900;
}
.thumbnail3 input[type="submit"]
{
    height: 30px;
    border-radius: 10px;
    position: absolute;
  top:85%;
  left: 65%;
  background: #f9b401;
  color: black;
  border:none;
  font-weight: 900;
}

.thumbnail4 input[type="submit"]
{
    height: 30px;
    border-radius: 10px;
    position: absolute;
 top:85%;
  left: 65%;
   background: #f9b401;
   color: black;
   border:none;
   font-weight: 900;

}

.thumbnail5 input[type="submit"]
{
    height: 30px;
    border-radius: 10px;
    position: absolute;
  top:85%;
  left: 65%;
   background: #f9b401;
   color: black;
   border:none;
   font-weight: 900;
}

.thumbnail6 input[type="submit"]
{
    height: 30px;
    border-radius: 10px;
    position: absolute;
 top:85%;
  left: 65%;
   background: #f9b401;
   color: black;
   border:none;
   font-weight: 900;

}
.thumbnail 7input[type="submit"]
{
    height: 30px;
    border-radius: 10px;
    position: absolute;
  top:85%;
  left: 65%;
  background: #f9b401;
  color: black;
  border:none;
  font-weight: 900;
}
.thumbnail8 input[type="submit"]
{
    height: 30px;
    border-radius: 10px;
    position: absolute;
  top:85%;
  left: 65%;
  background: #f9b401;
  color: black;
  border:none;
  font-weight: 900;
}
.thumbnail9 input[type="submit"]
{
    height: 30px;
    border-radius: 10px;
    position: absolute;
  top:85%;
  left: 65%;
  background: #f9b401;
  color: black;
  border:none;
  font-weight: 900;
}
.thumbnail1 p
{
    padding-left: 20px;
    padding-top: 0%;
    padding-bottom: 20px;

}
.thumbnail2 p
{
    padding-left: 20px;
    padding-top: 0%;
    padding-bottom: 20px;
}

.thumbnail3 p
{
    padding-left:20px;
    padding-top: 0%;
    padding-bottom: 20px;
}
.thumbnail4 p{
    padding-left:20px;
    padding-top: 0%;
    padding-bottom: 20px;
}

.thumbnail5 p
{
    padding-left:20px;
    padding-top: 0%;
    padding-bottom: 20px;
}

.thumbnail6 p
{
    padding-left:20px;
    padding-top: 0%;
    padding-bottom: 20px;
}
.heading1
{
    padding-top: 37%;
    padding-left: 40%;
    font-family: algerian;
}
.heading2
{
    padding-top: 37%;
    padding-left: 40%;
    font-family: algerian;
}
.heading3
{
    padding-top: 37%;
    padding-left: 40%;
    font-family: algerian;
}

.heading4
{
    padding-top: 37%;
    padding-left: 40%;
    font-family: algerian;
}

.heading5
{
    padding-top: 37%;
    padding-left: 40%;
    font-family: algerian;
}

.heading6
{
        padding-top: 37%;
    padding-left: 40%;
    font-family: algerian;
}
.heading7
{
        padding-top: 37%;
    padding-left: 40%;
    font-family: algerian;
}
.heading8
{
        padding-top: 37%;
    padding-left: 40%;
    font-family: algerian;
}
.heading9
{
        padding-top: 37%;
    padding-left: 40%;
    font-family: algerian;
}

.all-thumbnail 
{
    top: 185%;
   left: 85%;
   
    position: absolute;
    width: 10%;
    height: 30px;
    border-radius: 50px;
    background-color: transparent;
    font-weight: 900;
}
.all-thumbnail:hover
{
    color: #f9b401;

}

.name
{
    width: 20%;
    position: absolute;
    left: 75%;
    top:86%; 
    height: 30px;
    border-radius: 10px;
    background-color: transparent;

}
hr
{
    width: 80%;
    line-height: 80%;
}
