body
{
	margin : 0;
	padding : 0;

}
.centered {
	position: absolute;
  top: 50%;
  left: 50%;
 	transform: translate(-50%, -50%);
}
.bg {
  position: relative;
  margin:50px;
  background: #00fdff url(../images/panorma.jpg);
	height: 42vh;
	background-size: cover;
	background-position: 0 0;
	background-repeat: repeat-x;
	animation: animate 15s linear infinite;
}
.plainbg {
  position: relative;
  margin:50px;
  background: #00fdff ;
  height: 42vh;
  background-size: cover;
  background-position: 0 0;
  background-repeat: repeat-x;
  animation: animate 15s linear infinite;
}
.text 
{
  background-color: transparent;
  color: black;
  font-size: 50px;
  padding: 20px 62px;
}

@keyframes animate
{
	from {
		background-position: 0 0;
	}
	to {
		background-position: 50% 0;
	}
}

