html, body{
	height: 100vh;
	width: 100vw;
	margin: 0;


}
.nav{
	z-index: 10;
	

}
.navbar{
	position: absolute;
	height: 30px;
	width: 100%;
	font-size: 15px;
	font-family: NightStillComes;
	z-index: 10;
}

.nav-default{
  background-color: transparent;
 
}

.header{
  display: flex;
  justify-content: space-between;
 
}

/*swiper*/
.swiper1{
	position: relative;
	margin-top: -10%;
	width: 100%;
	height: 200px;
	
}
.swiper2{

	margin-top: -10%;
	width: 100%;
	height: 200px;
	

}
.swiper-container{
	width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 30%;
    z-index: 1;
}
.swiper-slide{
	text-align: center;
    font-size: 18px;
    background-color:  #ffffff;
    height: 50%;
      /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
@font-face {
	font-family: NightStillComes;
	src: url("styles/fonts/NightStillComes.otf");

}