body
{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

.thumbnail1{
    width: 370px;
    height: 450px;
    background: #0009;
    color: black;
    top: 330%;
    left: 15%;
    margin-left: 0%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    transition: 0.8s;
    border:none;
    border-radius: 10%;
    background-color: white;
      font-weight: bolder;
      z-index: 2;
      box-shadow: 10px 10px 10px grey;
      
}


.thumbnail2{
    width: 370px;
    height: 450px;
    background: #0009;
    color: black;
    top: 330%;
    left: 50%;
    margin-left: 0%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    transition: 0.8s;
    border:none;
    border-radius: 10%;
     background-color:  white;
      font-weight: bolder;
      z-index: 2;
      box-shadow: 10px 10px 10px grey;
      
}
.thumbnail3{
    width: 370px;
    height: 450px;
    background: #0009;
    color: black;
    top: 330%;
    left: 85%;
    margin-left: 0%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    transition: 0.8s;
    border:none;
    border-radius: 10%;
      background-color:  white;
      font-weight: bolder;
      z-index: 2;
      box-shadow: 10px 10px 10px grey;
      
   }
.thumbnail4{
    width: 370px;
    height: 450px;
    background: #0009;
    color: black;
    top: 420%;
    left: 15%;
    margin-left: 0%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    transition: 0.8s;
    border:none;
    border-radius: 10%;
     background-color: white;
     font-weight: bolder;
     z-index: 2;
     box-shadow: 10px 10px 10px grey;
     
}
.thumbnail5{
    width: 370px;
    height: 450px;
    background: #0009;
    color: black;
    top: 420%;
    left: 50%;
    margin-left: 0%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    transition: 0.8s;
    border:none;
    border-radius: 10%;
    background-color:  white;
     font-weight: bolder;
     z-index: 2;
     box-shadow: 10px 10px 10px grey;
   
}
.thumbnail6{
    width: 370px;
    height: 450px;
    background: #0009;
    color: black;
    top: 420%;
    left: 85%;
    margin-left: 0%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    transition: 0.8s;
    border:none;
    border-radius: 10%;
    background-color:  white;
    font-weight: bolder;
    z-index: 2;
    box-shadow: 10px 10px 10px grey;

}
/*hover property for the image in thumbnails(rotate() and scale())*/


/*thumbnail boxes input */

.thumbnail1 input[type="submit"]
{
    height: 30px;
    border-radius: 10px;
    position: absolute;
  top:85%;
  left: 65%;
   background: #f9b401;
   color: black;
   border:none;
   font-weight: 900;
}
.thumbnail2 input[type="submit"]
{
    height: 30px;
    border-radius: 10px;
    position: absolute;
  top:85%;
  left: 65%;
   background: #f9b401;
   color: black;
   border:none;
   font-weight: 900;
}
.thumbnail3 input[type="submit"]
{
    height: 30px;
    border-radius: 10px;
    position: absolute;
  top:85%;
  left: 65%;
  background: #f9b401;
  color: black;
  border:none;
  font-weight: 900;
}

.thumbnail4 input[type="submit"]
{
    height: 30px;
    border-radius: 10px;
    position: absolute;
 top:85%;
  left: 65%;
   background: #f9b401;
   color: black;
   border:none;
   font-weight: 900;

}

.thumbnail5 input[type="submit"]
{
    height: 30px;
    border-radius: 10px;
    position: absolute;
  top:85%;
  left: 65%;
   background: #f9b401;
   color: black;
   border:none;
   font-weight: 900;
}

.thumbnail6 input[type="submit"]
{
    height: 30px;
    border-radius: 10px;
    position: absolute;
 top:85%;
  left: 65%;
   background: #f9b401;
   color: black;
   border:none;
   font-weight: 900;

}
.thumbnail1 p
{
    padding-left: 20px;
    padding-top: 15%;
    padding-bottom: 30px;

}
.thumbnail2 p
{
    padding-left: 20px;
    padding-top: 15%;
    padding-bottom: 30px;
}

.thumbnail3 p
{
    padding-left:20px;
    padding-top: 15%;
    padding-bottom: 20px;
}
.thumbnail4 p{
    padding-left:20px;
    padding-top: 15%;
    padding-bottom: 20px;
}

.thumbnail5 p
{
    padding-left:20px;
    padding-top: 15%;
    padding-bottom: 20px;
}

.thumbnail6 p
{
    padding-left:20px;
    padding-top: 15%;
    padding-bottom: 20px;
}
#heading1
{
    padding-top: 60%;
    padding-left: 40%;
    font-family: algerian;
    line-height: 0%;

}
#heading2
{
    padding-top: 60%;
    padding-left: 40%;
    font-family: algerian;
    line-height: 0%;
}
#heading3
{
    padding-top: 60%;
    padding-left: 40%;
    font-family: algerian;
    line-height: 0%;
}

#heading4
{
    padding-top: 60%;
    padding-left: 40%;
    font-family: algerian;
    line-height: 0%;
}

#heading5
{
    padding-top: 60%;
    padding-left: 40%;
    font-family: algerian;
    line-height: 0%;
}

#heading6
{
        padding-top: 60%;
    padding-left: 40%;
    font-family: algerian;
    line-height: 0%;
}

.all-thumbnail 
{
    top: 420%;
   left: 85%;
   
    position: absolute;
    width: 10%;
    height: 30px;
    border-radius: 50px;
    background-color: transparent;
    font-weight: 900;
}
.all-thumbnail:hover
{
    background-color: #f9b401;

}

.name
{
    width: 20%;
    position: absolute;
    left: 75%;
    top:90%; 
    height: 30px;
    border-radius: 10px;
    background-color: transparent;

}

    

#navbar {
  background-color: #f2eeed;
  position: fixed;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 2;
  box-shadow: 10px 2px 10px  grey;
  height: 12%;
  z-index: 3;
}
.swiper-navbar {
  background-color: transparent;
  position: absolute;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 2;
  height: 12%;
}
#navbar li
 {
  display: inline-block;
  color: #f2f2f2;
  padding: 15px;
  text-decoration: none;
  font-size: 20px;
}
.swiper-navbar li
 {
  display: inline-block;
  color: #f2f2f2;
  padding: 15px;
  text-decoration: none;
}
#navbar a
{
    color: black;
    font-family: sans-serif;
}


.swiper-navbar a
{
    color: black;
    transition: 0.8s all;
}
.swiper-rem-navbar a:hover
{
    transition: 0.8s all;
     box-shadow: 2px 2px 2px 2px pink;
}
.rem-navbar
{
    float: center;
    margin-left: 10%;
    width: 100%;
    margin-top: -4%;

}
.swiper-rem-navbar
{
    float: center;
    margin-left: 13%;
    width: 100%;
    margin-top: -5%;
    position: absolute;

}
.rem-navbar li a
{
    text-decoration: none;
    transition: 0.8s all;
    
}

.rem-navbar li a:hover
{
    transition: 0.8s all;
    box-shadow: 2px 2px 2px 2px pink;
}

.log-reg
{
    margin-left: 52%;
    margin-top:-5%;
    font-weight: bolder;
}
.log-reg-navbar
{
    margin-left: 52%;
    margin-top:-6%;
    font-weight: bolder;
}
.log-reg input[type="submit"]
{
    height: 50px;
    width: 90px;
    font-family: sans-serif;
    font-weight: bolder;
    background-color: #f2eeed;

}
.log-reg-navbar input[type="submit"]
{
    height: 50px;
    width: 90px;
    font-family: sans-serif;
    font-weight: bolder;
    background-color: #f2eeed;

}

.log-reg input[name="login"]
{
    background-color: #f4418c;
    border: solid #f4418c;
    border-width: thin;
    box-shadow: 2px 2px 2px #f4418c;

}
.log-reg-navbar input[name="login"]
{
    background-color: #f4418c;
    border: solid #f4418c;
    border-width: thin;
    box-shadow: 2px 2px 2px #f4418c;

}
.log-reg input[name="login"]:hover
{
    background-color:#f2eeed;
    transition: 0.4s ease-in-out;
    border: solid #f4418c;
    border-width: thin;
}
.log-reg-navbar input[name="login"]:hover
{
    background-color:#f2eeed;
    transition: 0.4s ease-in-out;
    border: solid #f4418c;
    border-width: thin;
}
.log-reg input[name="register"]
{
     
     border:solid black;
     border-width: thin;
      box-shadow: 2px 2px 2px grey;
}
.log-reg-navbar input[name="register"]
{
     
     border:solid black;
     border-width: thin;
      box-shadow: 2px 2px 2px grey;
}
.log-reg input[name="register"]:hover
{
    color: #f4418c;
    transition: 0.4s ease-in-out;
  
}
.log-reg-navbar input[name="register"]:hover
{
    color: #f4418c;
    transition: 0.4s ease-in-out;
  
}

.search-box
{
    margin-left: 73%;
    margin-top: -5.5%;
}
.search-box-navbar
{
    margin-left: 73%;
    margin-top: -6.5%;
}
.search-box input[type="text"]
{
    height: 30px;
    width: 200px;
    padding-left: 10px;
    margin-top: 4%;
    border-radius: 50px;
    border:solid;
    border-width: thin;
    background: transparent;
   
}
.search-box-navbar input[type="text"]
{
    height: 30px;
    width: 200px;
    padding-left: 10px;
    margin-top: 4%;
    border-radius: 50px;
    border:solid;
    border-width: thin;
    background: transparent;
   
}

.search-box input[type="text"]:hover
{
    border:solid #f4418c ;
    border-width: thin;
    transition: 0.8s ease-in-out;
}
.search-box-navbar input[type="text"]:hover
{
    border:solid #f4418c ;
    border-width: thin;
    width: 200px;
    transition: 0.8s ease-in-out;
}

.blogs-heading:hover
{
    color:#cdf441;
    background-color: #f4418c;
    transition: 0.8s ease-in-out;
    transform: scale(1.2);
}
.recent-heading:hover
{
    color:#cdf441;
    background-color: #f4418c;
    transition: 0.8s ease-in-out;
    transform: scale(1.2);
}


input[value="Read More"]:hover
{
    background:#4286f4;
    transition: 0.8s;
}