body
 {
  font-family: Arial, Helvetica, sans-serif;
  background-position: center;
    background-image: url("../images/login-back6.png");
    height:130%;
    width:100%;
   background-attachment: fixed;
   overflow-y:auto ;

  /* Center and scale the image nicely */
  background-size: cover;
 
}

.loginbox{
    width: 320px;
    height: 760px;
    background: #0009;
    color: #fff;
    top: 70%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    transition: 0.8s;
    box-shadow: 1px 1px 10px 1px white;
    background-attachment: fixed;
    border-radius: 10px;
   
}

.icon
{

    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    border-:solid white;
    box-shadow: 2px 1px 2px  white;
  }
 .loginbox h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 50px;
    text-transform: capitalize;
    font-weight: lighter;

}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"] 
{
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    height: 40px;
    font-size: 16px;
    width: 250px;
    padding: 20px;
    color: white;

}
.loginbox input[type="password"]
{
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    height: 40px;
    font-size: 16px;
    width: 250px;
    padding: 20px;
    color: white;
}
.loginbox input[type="text"]:hover, input[type="password"]:hover
{
    border-bottom: 2px solid #3c777f;

}
.log-reg input[type="submit"]
{
    display: block;
}

.loginbox input[value="Login"]
{
    background:#3c777f;
    color: white;
    font-weight: lighter;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    margin-left: -7%;
   
}
.loginbox input[value="Create New Account"]
{
    background:white;
    color: #3c777f;
    font-weight: lighter;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    text-decoration: none;
     margin-left: -7%;
    
}
.loginbox input[value="Login"]:hover
{
    color: #3c777f;
    background-color: white;

}
.loginbox input[value="Create New Account"]:hover
{
    color:#121f25;
}

.loginbox p
{
    color: white;
}
.line
{
    width: 250px;
    height: 1px;
    background-color: white;
    margin: 5px;
}

.font-awesome li
{
    display: inline-block;
}
.font-awesome li a 
{
    border-radius: 0px;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    padding-left:  12px;
    padding-top: 10px;
    font-size: 40px;
    transition: 0.5s;
    background-color: white;
    color: #3c777f;
}


.fa-facebook:hover
{
    color:white;
    background-color: #3b5999;
    text-decoration: none;
    transform: scale(1.2);
    
}
.fa-youtube:hover
{
    color:white;
    text-decoration: none;
    background-color: #cd201f;
    transform: scale(1.2);
   
}
.fa-instagram:hover
{
    color: white;
    text-decoration: none;
    background-color: #e4405f;
    transform: scale(1.2);
    
}
.navbar h1
{
    font-size: 50px;
    text-align: left;
    color: black;
    font-weight: bolder;
    font-family: serif;
    transition: 0.5s;
    text-shadow: 1px 1px 1px  #3c777f;
}
.navbar p
{
   position: absolute;
   top: 66%;
    font-size: 20px;
text-align: left;
    color: black;
    margin-left: 6%;
    font-weight: lighter;
}
.lost-pass
{
    font-size: 12px;
    line-height: 1%;
    text-align: right;
}
.lost-pass:hover
{
    color:  #3c777f;
    text-decoration: underline;
    cursor: pointer;

}