body {
	margin: 0;
	padding: 0;

}
.heading {
	margin: 10px;
	padding: 0px;
}
.rating {
	display: flex;
	margin: 10px 10px 5px;
}
.rating input {
	display: none;
}
.rating label {
	display: block;
	cursor: pointer;
	width: 50px;
	background: #ccc;
}
.rating label:before
{
	content: '\f005';
	font-family: fontAwesome;
	font-size: 30px;
	color: gery;
}
.rating label:after
{
	content: '\f005';
	font-family: fontAwesome;
	font-size: 50px;
	color: blue;
	position: absolute;
	top: 0;

}
.poetimage
		{
    	border-radius: 3px;
    	width: 200px;
    	height: 200px;
   		border-radius: 70%;
   		position: static;
    	top: -80px;
    	left: calc(46% - 603px);
    	border:solid white;
    	border-color: #00828F;
    	margin-top: -90px;
		}
		.otherpoets
		{
			border-radius: 3px;
    	width: 200px;
    	height: 200px;
   		border-radius: 70%;
   		position: static;
    	top: -80px;
    	
    	border:solid white;
    	
		}