body {
	margin: 10px;
}
.container {
  position: relative;
 
}

.text-block {
  position: absolute;
  bottom: 2px;
  left: -30px;
  background-color: #f9b401;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 0px;
}
.navbar1 {
	position: relative;
	background-color: #81c0c5;
  min-height: 60px;
}
.nav {
	display: inline-flex;
  font-size: 20px;
}

li a {
  
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.search {
	border-radius: 40px;
	float: right;

}

.heading {
	font-weight: bold;
	color: black;
	text-align: center;
	background-color: #f2eeed;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 20px;

}

.swiper-container {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
}
.swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      height: 200px;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      transition: transform .5s;
      background: transparent;
}


.swiper-slide:hover {
	transform: scale(1.1);
}

.center {
text-align : center;
}

.pagination {
  display: inline-block;
 
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 20px;
  margin: 8px;

}

.pagination a.active {
  background-color: #f9b401;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
