.carousel-inner .active.left { 
  left: -19%; }
.carousel-inner .next { 
  left:  19%; }
.carousel-inner .prev { 
  left: -19%; }
.carousel-control.left,
.carousel-control.right {
  background-image:none; }
.carousel-control .glyphicon-chevron-left {
  left: 10%; }
.carousel-control .glyphicon-chevron-right {
  right: 10%; }
.carousel-inner .item .col-md-2 {
  width: 19%;
  padding: 0;
  float: none; 
  display: inline-block; }
.carousel-inner {
  white-space: nowrap; }


nav img
  {
    
    height: 90;
    width: 300;
    align-self: left;
    margin-top: 0;
    margin-left: 0;
  }

  body
  {
    height:100%;
    background-position: center;
    background-size: cover;
  }

  nav
  {
    position: fixed;
    width: 100%;
    height: 90px;
    line-height: 50px;
    float: right;
    background-color: #000;
    left: 0;
    top: 0;
    right: 0;
  }
  nav ul
  {
    float: right;
  }
  nav ul li
  {
    list-style-type: none;
    display: inline-block;
    transition: 0.8s all;
  }
  nav ul li:hover
  {
    background-color:lightgreen;
  }
  nav ul li a
  {
    color: white;
    padding: 30px;
    text-decoration: none;
    font-size: 20px;
  }
  .container-text-center
  {
    text-decoration-color: blue;
  
  }
  .centered
  {
       position: absolute;
       top: 50%;
       left: 13%;
       transform: translate(-50%, -50%);
       font-size: 50px;
  }
  .container
   {
    max-width: 100%;
    position: absolute;
    top: 40%;
    left: 40%;

    text-align: center;
  color: white;

   }

  .container1
   {
    max-width: 100%;

    position: absolute;
    top: 120%;
    left: 40%;

    text-align: center;
  color: white;

   }
   .centered1
  {
       position: absolute;
       top: 120%;
       left: 13%;
       transform: translate(-50%, -50%);
       font-size: 50px;
  } 
   .carousel slide
   {
    position: absolute;
    top: 60%;
   }
  
body {
  line-height: 1;
  text-align: center;
  overflow-x: hidden;
} 
.header
{
position: relative;
z-index: 10;


}