body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../images/front end desktop.jpg");

   

}

.registerbox
{
    width: 350px;
    height: 650px;
    background-color:81c0c5;
    color: black;
    left: 50%;
    top: 70%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    z-index: 1;
    border:solid white;

}
    
      

.registerbox h1{
  
    padding: 0px;
    text-align: left;
    font-size: 40px;
   font-family: "Times New Roman", Times, serif;
   line-height:50%;
   top: 20%;

}

.registerbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    float: center;
   padding-left: 10px;
   line-height: 10%;

}

.icon
{
    border-radius: 2px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: -80px;
    left: calc(40% - 50px);
    border:solid white;

}

 .registerbox input[type="text"],input[type="password"]
{
    
    border-bottom:1px solid #fff;
    background-color:white;
    outline:none;
    height:2px;
    color:black;
    font-size:16px;
    width: 250px;
    transition: 0.5s;
    padding:20px;
    line-height: 30%;
    
    
}

}
.registerbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background:black;
    color: #fff;
    font-size: 18px;
    border-radius:20px;
    border: black;
}
.registerbox input[type="submit"]:hover
{
    cursor: pointer;
    background: gray;
    color: #000;
    transition: 0.8s;
}

