body{
   
   
    
    background-position: center;
    font-family: sans-serif;
    overflow: scroll;
  background-color:#f2eeed;
    background-attachment: fixed;
    background-size: cover;

    

}

.thumbnail1{
    width: 370px;
    height: 450px;
    background: #0009;
    color: black;
    top: 320%;
    left: 15%;
    margin-left: 0%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    transition: 0.8s;
    border:none;
    border-radius: 10%;
    background-color: transparent;
      font-weight: bolder;
}

.icon{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: absolute;
    top: 20px;
    left: calc(35% - 50px);
    border:solid white;
    transition: 0.8s;
}
.thumbnail2{
    width: 370px;
    height: 450px;
    background: #0009;
    color: black;
    top: 320%;
    left: 50%;
    margin-left: 0%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    transition: 0.8s;
    border:none;
    border-radius: 10%;
     background-color: transparent;
      font-weight: bolder;
}
.thumbnail3{
    width: 370px;
    height: 450px;
    background: #0009;
    color: black;
    top:320%;
    left: 85%;
    margin-left: 0%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    transition: 0.8s;
    border:none;
    border-radius: 10%;
      background-color: transparent;
      font-weight: bolder;
}
.thumbnail4{
    width: 370px;
    height: 450px;
    background: #0009;
    color: black;
    top: 400%;
    left: 15%;
    margin-left: 0%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    transition: 0.8s;
    border:none;
    border-radius: 10%;
     background-color: transparent;
     font-weight: bolder;
}
.thumbnail5{
    width: 370px;
    height: 400px;
    background: #0009;
    color: black;
    top: 400%;
    left: 50%;
    margin-left: 0%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    transition: 0.8s;
    border:none;
    border-radius: 10%;
    background-color: transparent;
     font-weight: bolder;
}
.thumbnail6{
    width: 370px;
    height: 450px;
    background: #0009;
    color: black;
    top: 400%;
    left: 85%;
    margin-left: 0%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    transition: 0.8s;
    border:none;
    border-radius: 10%;
    background-color: transparent;
    font-weight: bolder;
}
/*hover property for the image in thumbnails(rotate() and scale())*/

.icon:hover
{
    transform: scale(1.2);

}
/*thumbnail boxes input */

.thumbnail1 input[type="submit"]
{
    height: 30px;
    border-radius: 10px;
    position: absolute;
  top:85%;
  left: 65%;
   background: #f9b401;
   color: black;
   border:none;
   font-weight: 900;
}
.thumbnail2 input[type="submit"]
{
    height: 30px;
    border-radius: 10px;
    position: absolute;
  top:85%;
  left: 65%;
   background: #f9b401;
   color: black;
   border:none;
   font-weight: 900;
}
.thumbnail3 input[type="submit"]
{
    height: 30px;
    border-radius: 10px;
    position: absolute;
  top:85%;
  left: 65%;
  background: #f9b401;
  color: black;
  border:none;
  font-weight: 900;
}

.thumbnail4 input[type="submit"]
{
    height: 30px;
    border-radius: 10px;
    position: absolute;
 top:85%;
  left: 65%;
   background: #f9b401;
   color: black;
   border:none;
   font-weight: 900;

}

.thumbnail5 input[type="submit"]
{
    height: 30px;
    border-radius: 10px;
    position: absolute;
  top:85%;
  left: 65%;
   background: #f9b401;
   color: black;
   border:none;
   font-weight: 900;
}

.thumbnail6 input[type="submit"]
{
    height: 30px;
    border-radius: 10px;
    position: absolute;
 top:85%;
  left: 65%;
   background: #f9b401;
   color: black;
   border:none;
   font-weight: 900;

}
.thumbnail1 p
{
    padding-left: 20px;
    padding-top: 15%;
    padding-bottom: 30px;

}
.thumbnail2 p
{
    padding-left: 20px;
    padding-top: 15%;
    padding-bottom: 30px;
}

.thumbnail3 p
{
    padding-left:20px;
    padding-top: 15%;
    padding-bottom: 20px;
}
.thumbnail4 p{
    padding-left:20px;
    padding-top: 15%;
    padding-bottom: 20px;
}

.thumbnail5 p
{
    padding-left:20px;
    padding-top: 15%;
    padding-bottom: 20px;
}

.thumbnail6 p
{
    padding-left:20px;
    padding-top: 15%;
    padding-bottom: 20px;
}
#heading1
{
    padding-top: 60%;
    padding-left: 40%;
    font-family: algerian;
    line-height: 0%;

}
#heading2
{
    padding-top: 60%;
    padding-left: 40%;
    font-family: algerian;
    line-height: 0%;
}
#heading3
{
    padding-top: 60%;
    padding-left: 40%;
    font-family: algerian;
    line-height: 0%;
}

#heading4
{
    padding-top: 60%;
    padding-left: 40%;
    font-family: algerian;
    line-height: 0%;
}

#heading5
{
    padding-top: 60%;
    padding-left: 40%;
    font-family: algerian;
    line-height: 0%;
}

#heading6
{
        padding-top: 60%;
    padding-left: 40%;
    font-family: algerian;
    line-height: 0%;
}

.all-thumbnail 
{
    top: 450%;
   left: 85%;
   
    position: absolute;
    width: 10%;
    height: 30px;
    border:solid;
    border-width: thin;
    border-radius: 50px;
    background-color: transparent;
    font-weight: 900;
}
.all-thumbnail:hover
{
    color: #f4418c;
    border-color: #f4418c;
    background-color: #f2eeed;

}

.name
{
    width: 20%;
    position: absolute;
    left: 75%;
    top:86%; 
    height: 30px;
    border-radius: 10px;
    background-color: transparent;

}

